* {
  margin: 0px;
  box-sizing: border-box;
  
}

.barra {
  background-image: linear-gradient(white, rgb(166 166 166));
  width: 100%;
  height: 122px;
}

.itaipuparquetec {
  position: relative;
  left: 14%;
  top: 30%;
}

.roda {
  display: flex;
  justify-content: flex-end;
  margin-right: 30%;
}

.lupa {
  --tamanho: 1.1%;

  height: var(--tamanho);
  width: var(--tamanho);
}

.bi-bi-instagram {
  margin-left: 90px;
  color: rgb(66, 66, 66);
}

.bi-bi-linkedin {
  --tamanho: 1.1%;
  height: var(--tamanho);
  width: var(--tamanho);
  margin-left: 3px;
}

.bi-bi-facebook {
  --tamanho: 1.1%;
  height: var(--tamanho);
  width: var(--tamanho);
  margin-left: 3px;
}

.bi-bi-youtube {
  --tamanho: 1.2%;
  height: var(--tamanho);
  width: var(--tamanho);
  margin-left: 3px;
}

.ipti-image {

  padding-top: 4vh;
  height: auto;
  width: 100%;
}

.cor-azul {
  background-color: rgb(30, 55, 92);
  display: flex;
  justify-content: center;
}

.caixas{

  display: flex;
  flex-direction: row;
}

.caixa{
  
  background-color: rgb(127, 193, 255);

  display: flex;
  
  justify-content: center;
  align-items:end;

  margin-top: 15px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom: 15px;
  
  border-radius: 5px;

  height: 300px;
  width: 300px;
}

.competencia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 93vh 1vh 0vh;
}