* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(white, rgb(202, 202, 202));
  width: 100%;
  height: 122px;
}

.itaipuparquetec {
  position: relative;
  left: 14%;
  top: 30%;
}

.roda {
  display: flex;
  justify-content: flex-end;
  margin-right: 30%;
}

.lupa {
  --tamanho: 1.1%;

  height: var(--tamanho);
  width: var(--tamanho);
}

.bi-bi-instagram {
  margin-left: 90px;
  color: rgb(66, 66, 66);
}

.bi-bi-linkedin {
  --tamanho: 1.1%;
  height: var(--tamanho);
  width: var(--tamanho);
  margin-left: 3px;
}

.bi-bi-facebook {
  --tamanho: 1.1%;
  height: var(--tamanho);
  width: var(--tamanho);
  margin-left: 3px;
}

.bi-bi-youtube {
  --tamanho: 1.2%;
  height: var(--tamanho);
  width: var(--tamanho);
  margin-left: 3px;
}
